<%= render "shared/header"%>
<div class="row main-carousel">
  <div class="col-md-4 offset-md-1">
    <h2>欢迎使用</h2>
    <h4>CUCS校友系统</h4>
    <br/>
    <button onclick="showAll()" class="carousel-button">点我查看所有校友</button>
  </div>
  <div class="col-md-6">
    <img src="/assets/anteater.png" width="50%" style="float:right;" class="my-rotation">
  </div>
</div>
<div class="row" style="height:100px; padding-top:30px">
  <div class="col-md-4 offset-md-4" style="text-align:center;">
    <h4>Browse</h4>
  </div>
</div>
<div class="row" style="height:500px; padding-top:20px;">
  <div class="col-md-3 offset-md-1 left-margin-5">
    <div class="card my-card-shadow">
      <div class="card-body my-card" style="text-align:center;">
        <%= image_tag('department.jpg',class:'card-img-top my-card-img')%>
        <h4 style="color:#2b00e6;"><br/>Companies</h4>
        
        <% @companys.each do |company|%>
          <a class="company-link"href="/company/#<%=company.currentCompany%>"><%=company.currentCompany%></a>
        <% end %>
        </br>
        </br>
        <a style="color:#212529" href="/company">More..</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 left-margin-5">
    <div class="card-body my-card" style="text-align:center;">
      <%= image_tag('graduate.jpg',class:'card-img-top my-card-img')%>
      <h4 style="color:#2b00e6;"><br/>Graduate Years</h4>
      <a>2018</a>
      <a>2017</a>
      <a>More..</a>
    </div>
  </div>
  <div class="col-md-3 left-margin-5">
    <div class="card-body my-card comming-soon"></div>    
  </div>
</div>
<%= render "shared/footer"%>
<script>
  function showAll(){
    location.href = "/showAll"
  }
</script>

