<%= render "shared/header"%>
<div class="row" style="margin-top:5%;">
  <div class="col-md-4 offset-md-1">
    <div class="row" style="border-bottom:1px solid grey;"> 
      <%= image_tag('anteater.png',class:'profile-avatar')%>
    </div>
    <div class="row" style="margin-top:5%">
      <h5> 联系方式<br/><br/></h5>
    </div>
    <div class="row"> 
      <ul class="info-list">
        <li><a href="mailto:<%=@memberView["email"]%>">Email Address:&nbsp &nbsp<%=@memberView["email"]!=nil && @memberView["email"]!="" ? @memberView["email"] : "None"%></a></li>
        </br>
        <li><a href="<%=@memberView["linkedIn"]%>">LinkedIn:&nbsp &nbsp</p><p class="ediButton" id="linkedIn" onclick="clickHandler(this)"><%=@memberView["linkedIn"]!=nil && @memberView["linkedIn"]!="" ? @memberView["linkedIn"] : "None"%></a></li>
        </br><li><p>Wechat     Id:&nbsp &nbsp<%=@memberView["wechatId"]!=nil && @memberView["wechatId"]!="" ? @memberView["wechatId"] : "None"%></p></li>
      </ul>
    </div>
  </div>
  
  <div class="col-md-5 offset-md-1" style="border-left:1px solid grey; padding-left:5%">
    <div class="row" style="margin-top:5%">
      <h5>个人信息<br/><br/></h5>
    </div>
    <div class="row" >
      <ul class="info-list">
        <li><p>中文名:&nbsp &nbsp</p><p class="ediButton" id="chineseName" onclick="clickHandler(this)"><%=@memberView["chineseName"]!=nil && @memberView["chineseName"]!="" ? @memberView["chineseName"] : "None"%></p></li></br>
        <li><p>English Name:&nbsp &nbsp</p><p class="ediButton" id="englishName" onclick="clickHandler(this)"><%=@memberView["englishName"]!=nil && @memberView["englishName"]!="" ? @memberView["englishName"] : "None"%></p></li></br>
        <li><p>现处公司:&nbsp &nbsp</p><a href="#"><%=@memberView["currentCompany"]!=nil && @memberView["currentCompany"]!="" ? @memberView["currentCompany"] : "None"%></a></li></br>
        <li><p>毕业年份:&nbsp &nbsp</p><p class="ediButton" id="graduateYear" onclick="clickHandler(this)"><%=@memberView["graduateYear"]!=nil && @memberView["graduateYear"]!="" ? @memberView["graduateYear"] : "None"%></p></li>
        </br><li><p>学历水平:&nbsp &nbsp</p><p class="ediButton" id="degree" onclick="clickHandler(this)"><%=@memberView["degree"]!=nil && @memberView["degree"]!="" ? @memberView["degree"] : "None"%></p></li>
        </br><li><p>个人爱好:&nbsp &nbsp<%=@memberView["hobby"]!=nil && @memberView["hobby"]!="" ? @memberView["hobby"] : "None"%></p></li>
        </br><li><p>星座:&nbsp &nbsp</p><%=@memberView["constellation"]!=nil && @memberView["constellation"]!="" ? @memberView["constellation"] : "None"%></p></li>
      </ul>
    </div>
  </div>
</div>
<%= render "shared/footer"%>
<script>
  
  


</script>
