<%= render "shared/header"%>
<div class="row" style="margin-top:5%;">
  <div class="col-md-4 offset-md-1">
    <div class="row" style="border-bottom:1px solid grey;"> 
      <%= image_tag('anteater.png',class:'profile-avatar')%>
    </div>
    <div class="row" style="margin-top:5%">
      <h7 >联系方式<br/></h7>
    </div>
    <div class="row" style="margin-top:5%"> 
      <ul>
        <li><p>邮箱地址:&nbsp &nbsp</p><p class="ediButton" id="email" onclick="clickHandler(this)"><%=@memberView["email"]!=nil && @memberView["email"]!="" ? @memberView["email"] : "None"%><img src="https://img.icons8.com/material-outlined/30/000000/pencil.png"></p></li>
        <li><p>LinkedIn:&nbsp &nbsp</p><p class="ediButton" id="linkedIn" onclick="clickHandler(this)"><%=@memberView["linkedIn"]!=nil && @memberView["linkedIn"]!="" ? @memberView["linkedIn"] : "None"%><img src="https://img.icons8.com/material-outlined/30/000000/pencil.png"></p></li>
        <li><p>微信Id:&nbsp &nbsp</p><p class="ediButton" id="wechatId" onclick="clickHandler(this)"><%=@memberView["wechatId"]!=nil && @memberView["wechatId"]!="" ? @memberView["wechatId"] : "None"%><img src="https://img.icons8.com/material-outlined/30/000000/pencil.png"></p></li>
      </ul>
    </div>
  </div>
  
  <div class="col-md-5 offset-md-1" style="border-left:1px solid grey; padding-left:5%">
    <div class="row" style="margin-top:5%">
      <h7 >个人信息<br/><br/></h7>
    </div>
    <div class=row >
      <ul>
        <li><p>中文名:&nbsp &nbsp</p><p class="ediButton" id="chineseName" onclick="clickHandler(this)"><%=@memberView["chineseName"]!=nil && @memberView["chineseName"]!="" ? @memberView["chineseName"] : "None"%><img src="https://img.icons8.com/material-outlined/30/000000/pencil.png"></p></li>
        <li><p>English Name:&nbsp &nbsp</p><p class="ediButton" id="englishName" onclick="clickHandler(this)"><%=@memberView["englishName"]!=nil && @memberView["englishName"]!="" ? @memberView["englishName"] : "None"%><img src="https://img.icons8.com/material-outlined/30/000000/pencil.png"></p></li>
        <li><p>所在公司:&nbsp &nbsp</p><p class="ediButton" id="currentCompany" onclick="clickHandler(this)"><%=@memberView["currentCompany"]!=nil && @memberView["currentCompany"]!="" ? @memberView["currentCompany"] : "None"%><img src="https://img.icons8.com/material-outlined/30/000000/pencil.png"></p></li>
        <li><p>毕业年份:&nbsp &nbsp</p><p class="ediButton" id="graduateYear" onclick="clickHandler(this)"><%=@memberView["graduateYear"]!=nil && @memberView["graduateYear"]!="" ? @memberView["graduateYear"] : "None"%><img src="https://img.icons8.com/material-outlined/30/000000/pencil.png"></p></li>
        <li><p>最高学历:&nbsp &nbsp</p><p class="ediButton" id="degree" onclick="clickHandler(this)"><%=@memberView["degree"]!=nil && @memberView["degree"]!="" ? @memberView["degree"] : "None"%><img src="https://img.icons8.com/material-outlined/30/000000/pencil.png"></p></li>
         <li><p>爱好:&nbsp &nbsp</p><p class="ediButton" id="hobby" onclick="clickHandler(this)"><%=@memberView["hobby"]!=nil && @memberView["hobby"]!="" ? @memberView["hobby"] : "None"%><img src="https://img.icons8.com/material-outlined/30/000000/pencil.png"></p></li>
         <li><p>星座:&nbsp &nbsp</p><p class="ediButton" id="constellation" onclick="clickHandler(this)"><%=@memberView["constellation"]!=nil && @memberView["constellation"]!="" ? @memberView["constellation"] : "None"%><img src="https://img.icons8.com/material-outlined/30/000000/pencil.png"></p></li>
         <li>修改密码请联系管理员</li>         
       </ul>
    </div>
  </div>
</div>
<%= render "shared/footer"%>

<script>
  
  let subs = {}
  
  function clickHandler(obj){
    let k = obj.id;
    let content = obj.outerHTML;
    let v = obj.innerText
    let sta = content.indexOf(v)
    let end = sta+v.length
    let firstHalf = content.substr(0,sta)
    let secondHalf = content.substr(end)
    
    subs[k] = [firstHalf,secondHalf,v]
    $("#"+k).replaceWith("<input id='"+k+"'class='profile-input' type='text'>");
  }
    
  $(document).on('keypress',function(e) {
    if(e.which == 13) {
      
      let update = {} 
      Object.keys(subs).forEach(k=>{
        update[k] = $("#"+k).val()
        let newVal = $("#"+k).val();
      })
      
      $.ajax({
        url:"/updateProfile",
        type:"POST",
        data:{update},
        success:result=>{
          Object.keys(subs).forEach(k=>{
            $("#"+k).replaceWith(subs[k][0]+update[k]+subs[k][1])
            
            delete subs[k]
          })
          
        },
        error:result=>{
          Object.keys(subs).forEach(k=>{
            $("#"+k).replaceWith(subs[k][0]+subs[k][2]+subs[k][1])
            delete subs[k]
          })
        }
      });
    }
  });
  


</script>
