<%= render "shared/header"%>
<div class="row" style="align-items:center; margin-top:3%;">
    <div class="col-md-4 offset-md-4">
      <input id="searchBar" type="text" placeHolder="search on names">
    </div>
  </div>
  <div id="contactMain">
    <% i=1 %>
    <% @members.each do |m| %>
      <% if i%3==1 %>
        <div class="row" style="margin-top:5%;">
      <% end %>
      <% if i%3==1 %>
        <div class="col-md-3 offset-md-1 left-margin-5">
      <% else%>
        <div class="col-md-3 left-margin-5">  
      <%end%>

        <div class="card">
          <div class="card-body my-card" style="text-align:center;">
            <%= image_tag('clubCard.png',class:'card-img-top my-card-img')%>
            <h4 style="color:#2b00e6;"><br/><%= m.chineseName %></h4>
            <p><%= m.englishName %></p>
            <p><%= m.email%></p>
            <p><%= m.currentCompany %></p>
            <a href="/memberDetail/<%=m.id%>" class="see-detail-button">See Detail</a>
          </div>
        </div>
      </div>
      <% if i%3==0 %>
        </div>
      <% end %> 
    <% i+=1 %>      
    <% end %>
  </div>
<%= render "shared/footer" %>
